alembic==1.18.4
APScheduler==3.11.2
attrs==26.1.0
autobahn==19.11.2
Automat==25.4.16
blinker==1.9.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
constantly==23.10.4
cryptography==48.0.1
Flask==3.1.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
hyperlink==21.0.0
idna==3.18
Incremental==24.11.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiteconnect==5.2.0
Mako==1.3.12
MarkupSafe==3.0.3
packaging==26.2
pycparser==3.0
PyMySQL==1.2.0
pyOpenSSL==26.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
service-identity==26.1.0
six==1.17.0
SQLAlchemy==2.0.50
Twisted==26.4.0
txaio==25.12.2
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.7.0
Werkzeug==3.1.8
zope.interface==8.5
